<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css"
    />
    <title>My sitio</title>
  </head>
  <body>
    <header>
      <h1>Mi sitio</h1>
    </header>
    <main>
      <div>
        <div>{% block content %} {% endblock %}</div>
      </div>
    </main>
  </body>
  <footer>
    <small
      >Built with <a href="https://picocss.com">Pico</a> •
      <a
        href="https://github.com/picocss/examples/blob/master/v1-classless/index.html"
        >Source code</a
      >
      • by Patricia Riscart Garcia</small
    >
  </footer>
</html>
