{% extends 'book/base.html' %} {% block content %}
<h2>Detalle</h2>
<article>
  <h2>{{ book.title }}</h2>
  <p>{{ book.author }}</p>
  <p>{{ book.rating }}</p>
  <p>{{ book.sinopsys }}</p>
  <p>Fecha de creacion {{ book.created_at }}</p>
  <p>Fecha de modificacion {{ book.created_at }}</p>
</article>

<a href=" {%  url 'edit' pk=book.pk %} "> <button>Editar</button> </a>
<a href=" {%  url 'delete' pk=book.pk %} "> <button>Borrar</button> </a>
<a href=" {%  url 'list' %} "> <button>Listado</button> </a>
{% endblock %}
